
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="home">Explore The Park System</h2>
<p class="about"> Use these state of the art web applications to learn more about the national parks!<br />And maybe one day be in an awesome picture like below!</p>
<img class="awesomepic" src="~/Content/img/home.jpeg" />
